[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]ser[Ss]ettings/
[Ll]ogs/
MemoryCaptures/
Recordings/
Packages/PackageCache/

*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.tmp

.DS_Store
Thumbs.db

.vscode/
.vs/
.vsconfig